<footer class="footer">
    <!-- footer -->
    <div class="footer-top">
        <div class="footer-top-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <h4>Hot</h4>
                        <ul class="list-2">
                            <li><a href="../Template/#">Timeline</a></li>
                            <li><a href="../Template/#">Messages</a></li>
                            <li><a href="../Template/#">Statistics</a></li>
                            <li><a href="../Template/#">Settings</a></li>
                            <li><a href="../Template/#">Log in</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>Services</h4>
                        <ul class="list-2">
                            <li><a href="../Template/#">Timeline</a></li>
                            <li><a href="../Template/#">Messages</a></li>
                            <li><a href="../Template/#">Statistics</a></li>
                            <li><a href="../Template/#">Settings</a></li>
                            <li><a href="../Template/#">Log in</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>About us</h4>
                        <ul class="list-2">
                            <li><a href="../Template/#">Timeline</a></li>
                            <li><a href="../Template/#">Messages</a></li>
                            <li><a href="../Template/#">Statistics</a></li>
                            <li><a href="../Template/#">Settings</a></li>
                            <li><a href="../Template/#">Log in</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>Follow us</h4>
                        <ul class="colored-social-icons-2">
                            <li><a href="../Template/#" rel="external" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="../Template/#" rel="external" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="../Template/#" rel="external" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="../Template/#" rel="external" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="../Template/#" rel="external" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <div class="spacer25"></div>
                        <h4>Subscribe</h4>
                        <form role="form">
                            <div class="input-group">
                                <input type="text" class="form-control footer-form-control" placeholder="E-mail">
                                <span class="input-group-addon">
                                    <button class="btn btn-default" type="button"> <i class="fa fa-angle-right"></i> </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Info</h4>
                        <p>Nullam sagittis. Quisque id odio. Curabitur nisi. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Fusce egestas elit eget lorem.</p>
                        <div class="spacer50"></div>
                        <div class="spacer1"></div>
                        <p>&copy; TROY. 2014 - Created by <a href="../Template/#">entiri</a>.</p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Address</h4>
                        <ul class="list-3">
                            <li>920 Reserve Dr. Suite 140</li>
                            <li>Roseville, CA 95678</li>
                            <li>&nbsp;</li>
                            <li>(415) 496-9612</li>
                            <li>&nbsp;</li>
                            <li><a href="../Template/mailto:info@domain.com">info@domain.com</a></li>
                        </ul>

                    </div>
                    <div class="col-sm-3">
                        <h4>Contact</h4>
                        <ul class="list-3">
                            <li>(415) 496-9612</li>
                            <li>(415) 496-9613</li>
                            <li>(415) 496-9614</li>
                        </ul>
                        <div class="spacer15"></div>
                        <a class="btn btn-default" href="../Template/mailto:email@example.com" role="button">Email us</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer> <!-- Footer ends -->
<a href="../Template/#" class="back-to-top"><span></span></a>
